{% extends "base.html" %}

{% load static %}

{% block title %}
Book Detail
{% endblock title %}

{% block sidenav %}
  {% for item in item_list %}
       <li>
           <a href="{{ item.link }}"> {{ item.item }} </a>
       </li>
  {% endfor %}
{% endblock sidenav %}

{% block content %}
<br>
<h1 align="center"> Book Detail </h1>
<br>
<br>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th colspan='2' ><img src="{% static book.pic_path %}" width="150" height="200" class="rounded mx-auto d-block"/></th>
        </tr>
        <tr>
            <td>Name: </td>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <td>Price: </td>
            <td>$ {{ book.price }}</td>
        </tr>
        <tr>
            <td>Website: </td>
            <td>{{ book.web }}</td>
        </tr>
        <tr>
            <td>Added By: </td>
            <td>{{ book.username }}</td>
        </tr>
        <tr>
            <td>Date Added: </td>
            <td>{{ book.publishdate }}</td>
        </tr>
        <tr>
            {% if book.username != request.user %}
            <td>Move to: </td>
                {% if book.id not in wish_list_ids %}
                <td><a href="/add_to_wish_list/{{ book.id }}">Wish List</a>
                </td>
                {% endif %}
            </td>
            {% endif %}
        </tr>
    </table>
</div>

{% if comments %}
<div class="container">
    <h5 class="mt-4" align="center">Comments Section</h5>
    <table class="table table-striped table-borderless bg-light mt-4">
        <thead class="thead-light">
            <tr>
                <th class="text-center" scope="col">User</th>
                <th class="text-center" scope="col">Comment</th>
                <th class="text-center" scope="col">Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td class="text-center align-middle">
                    {{ comment.username }}
                </td>
                <td class="text-center align-middle">
                    {{ comment.content}}
                </td>
                <td class="text-center align-middle">
                    {{ comment.publishdate }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div class = "container">
    <div class="col-md-8">
        <form action="" enctype="multipart/form-data" method="post" novalidate>
            {% csrf_token %}
            <label for="id_content">Add Comment: </label>
            <textarea class="form-control" id="id_content" name="content" required></textarea>
            <button type="submit" class="btn btn-primary mt-3">Add Comment</button>
        </form>
    </div>
</div>

{% endblock content %}